network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      addresses:
        - {{ myIp }}/24
      dhcp4: no
      link-local: [ipv4]
  wifis:
    wlan0:
      optional: true
      access-points: ""
        password: ""
      dchp4: true